{{- partial "header.html" . -}}


<h1>{{.Title}}</h1>
<h2>{{ $.Param "subtitle"}}</h2>

This is the layouts/releases list template. 



    <h2>Share File Sharing</h2>
    <ul>
        {{ range where .Site.Pages "Params.releases" "file-sharing" }}
        <li>
            <a href="{{ .URL }}">{{ .Title }}</a>
            <div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>        
        </li>
        {{ end }}
    </ul>

    <h2>Semaphor Messaging</h2>
    <ul>
        {{ range where .Site.Pages "Params.releases" "messaging" }}
        <li>
            <a href="{{ .URL }}">{{ .Title }}</a>
            <div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
        </li>
        {{ end }}

    </ul>

    <h2>One & Groups Backup</h2>
    <ul>
        {{ range where .Site.Pages "Params.releases" "backup" }}
        <li>
            <a href="{{ .URL }}">{{ .Title }}</a>
            <div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
        </li>
        {{ end }}
    </ul>
        
    <h2>Encryptr Password Manager</h2>
    <ul>
        {{ range where .Site.Pages "Params.releases" "password-manager" }}

        <li>
            <a href="{{ .URL }}">{{ .Title }}</a>
            <div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
        </li>
        {{ end }}
    </ul>

    <br>

{{ partial "footer.html" . }}