<div id="filterOptions">
    <button class="btn active" onclick="filterSelection('all')"> Show all</button>
    <button class="btn" onclick="filterSelection('Share')"> Share</button>
    <button class="btn" onclick="filterSelection('semaphor')"> Semaphor</button>
    <button class="btn" onclick="filterSelection('fruits')"> Fruits</button>
    <button class="btn" onclick="filterSelection('colors')"> Colors</button>
</div>

<div class="container">






    <div class="filterDiv share">BMW</div>
    <div class="filterDiv colors fruits">Orange</div>
    <div class="filterDiv share">Volvo</div>
    <div class="filterDiv colors">Red</div>
    <div class="filterDiv share semaphor">Mustang</div>
    <div class="filterDiv colors">Blue</div>
    <div class="filterDiv semaphor">Cat</div>
    <div class="filterDiv semaphor">Dog</div>
    <div class="filterDiv fruits">Melon</div>
    <div class="filterDiv fruits semaphor">Kiwi</div>
    <div class="filterDiv fruits">Banana</div>
    <div class="filterDiv fruits">Lemon</div>
    <div class="filterDiv semaphor">Cow</div>
</div>