<div class="">
    <ul>
        {{ $currentPage := . }}
        {{ $name := .Name }}
        {{ $all := "all" }}
        {{ $share := "share" }}
        <!-- {{ $link := .Site.Menus.releases }} -->

        {{ range .Site.Menus.releases }}
                <li>
                    <a href="{{.URL}}" style="{{ if eq .Name $name }} background-color: yellow; {{ end }}">{{.Name}}</a>
                </li>

        {{end}}
        
        <li>
            <a href="#">Share</a>
        </li>
        <li>
            <a href="#">Hardcoded Link 2</a>
        </li>
    </ul>
</div>